@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  width: auto;
}

body {
  margin: 0;
}

main {
  margin-top: 7rem;
  text-align: center;
}
