.AboutImg {
  position: relative;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: 0px 45%;
  height: 250px;
  filter: brightness(70%);
}

@media (max-width: 768px) {
  .AboutImg {
    height: 220px;
    object-fit: cover;
  }
}
