.slider {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.image {
  position: relative;
  width: 100%;
  height: 25vw;
  border-radius: 25px;
  object-fit: cover;
  mix-blend-mode: normal;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 0%;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 0%;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.count {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  font-weight: 500;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .slider {
    margin-bottom: 20px;
  }
  .image {
    height: 35vh;
  }
  .count {
    display: none;
  }
  .right-arrow {
    stroke: none;
    top: 45%;
  }

  .left-arrow {
    stroke: none;
    top: 45%;
  }
}
