.Accordion {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px 60px;
}

@media (max-width: 768px) {
  .Accordion {
    display: flex;
    flex-direction: column;
  }
}
