.section {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-top: 0px;
  text-align: left;
}

.location {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  margin-top: -20px;
}

.picture {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}

.hostDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 5px;
}

.hostName {
  display: flex;
  text-align: right;
  flex-direction: column;
  font-size: 18px;
  margin-right: 10px;
}
.name {
  margin: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 500;
}

.hostStars {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .section {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .wrapper {
    flex-direction: column;
  }

  .hostStars {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
