.footer {
  position: relative;
  width: auto;
  height: 209px;
  background: #000000;
  margin-top: 5em;
}

.footerTxt {
  color: white;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 65%;
  left: 39%;
  font-size: 24px;
}

.footerImg {
  position: absolute;
  top: 40%;
  left: 46%;
}
