.header {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  height: 68px;

  & nav {
    left: 75.08%;
    margin-right: 0px;
    top: 25%;
    bottom: 25%;
  }
  & ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    list-style: none;
  }
  & li {
    display: inline-block;
    padding-right: 100px;
  }
  li:last-child {
    padding-right: 0;
  }

  & a {
    text-decoration: none;
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 142%;
    font-weight: 500;
  }

  & a:hover,
  a:active,
  a.active {
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #ff6060;
  }
}

@media (max-width: 768px) {
  .image {
    max-width: 147px;
    max-height: 47px;
  }
  .header {
    margin: 15px 0 10px 5px;
    & ul {
      align-items: center;
      display: flex;
      height: 100%;
      list-style: none;
      padding-left: 0;
    }
    & li {
      display: inline-block;
      padding-right: 25px;
    }
    li:last-child {
      padding-right: 10px;
    }

    & a {
      font-size: 18px;
      line-height: 0%;
    }
  }
}
