.footer {
  position: relative;
  width: auto;
  height: 209px;
  background: #000000;
  margin-top: 5em;
}

.footerTxt {
  color: white;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.footerImg {
  max-height: 100%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 2em;
  }

  .footerTxt {
    font-size: 15px;
  }
}
