.notfound {
  font-family: "Montserrat";
  color: #ff6060;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
}

.text {
  font-size: 36px;
}

.link {
  font-size: 20px;
  text-decoration-line: underline;
  color: #ff6060;
}
