.list {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}
.tags {
  width: fit-content;
  color: white;
  border-radius: 10px;
  height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  background-color: #ff6060;
  list-style: none;
  line-height: 25px;
}
