.thumbnail {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3em 0px;
  margin: 5em 6em 0 6em;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding-bottom: 25px;
}

.thumbnailLink {
  width: 70%;
  border-radius: 20px;
  margin: 1em auto 0 auto;
  position: relative;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.02);
  }
}

.thumbnailImg {
  text-align: center;
  border-radius: 20px;
  width: 100%;
  height: 25vw;
  object-fit: cover;
  object-position: 50% 60%;
}

.thumbnailText {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 2%;
  left: 3%;
  color: white;
  text-align: left;
}
